<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto d-flex justify-content-between m-5">
      <h5 class="bg-light d-flex align-items-center pr-3 pl-3">商品一覧</h5>
      <div>
        <%= link_to new_admin_item_path do %>
          <button type="button" class="btn btn-primary rounded-circle p-0" style="width:3rem;height:3rem;">
            <i class="fa fa-plus"></i>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'index', items: @items %>
<!--指定した文字の色を変更するための記述-->
<script>
  $("td:contains('販売中')").css("color","green");
  $("td:contains('販売停止中')").css("color","silver");
</script>