<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="pt-3 pb-3 text-center">About</h1>
      <p class=" pb-3 text-center">
        ながのCAKEは全国配送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までおめしあがりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
        <%= image_tag "cake.jpg", size: "400x200", class:"d-block mx-auto" %>
    </div>
  </div>
</div>
