@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
 
#thanks{
  display: none;
}

.swiper p {
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 1;
}

.shadow {
  box-shadow: none;
}

p.shadow {
  font-weight: bold;
  text-shadow: -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                  0 -1px 0 black,                  0 1px 0 black,
                1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
}

body {
 font-family: 'Noto Serif JP', sans-serif;
  height:100%;
}

.card-img-top {
    height: 60%;
    flex-shrink:0;
 }
 