<div class="col-md-2">
  <div class="card mt-5">
    <h6 class="card-header d-flex align-items-center justify-content-center">ジャンル検索</h6>
    <div class="card-body">
      <% genres.each do |genre| %>
        <p class="card-text"><%= link_to "#{genre.name}", genre_search_path(id: genre.id) %></p><br>
      <% end %>
    </div>
  </div>
</div>